<nav class="navbar navbar-dark bg-light">
  <div class="btn-group btn-group-lg shadow" role="group" aria-label="...">
    <button type="button" class="btn btn-secondary" routerLink="addproduct">Add Product</button>
    <button type="button" class="btn btn-secondary" routerLink="viewproduct">View Product</button>
    <button type="button" class="btn btn-secondary" routerLink="addsupplier">Add Supplier</button>
    <button type="button" class="btn btn-secondary" routerLink="viewsupplier">View Supplier</button>
  </div>
  <i class=" fa fa-home fa-2x btn shadow" aria-hidden="true" routerLink="/"></i>
</nav>

<router-outlet></router-outlet>